body {font: size 18px;}
header,footer {background-color: lightblue;}
.site-title {color: violet;}
#myimage {
    box-shadow: 0 0 2px 1px black;
}
ul{ list-style-type: square;
    color: purple;
}
#hobbies li:nth-child(odd) {
    background-color: yellowgreen;
}
ul#navlist { list-style-type: none;
    background-color: lightblue;
   border: 2px solid darkblue;
}
a{
    text-decoration: none;

   
}
a:hover {
    background-color: yellow;
}